{% extends "base.html" %}
{% block title %}
Courses
{% endblock title %}
{% block content %}
<a href="">Назад</a>
<h1>{{ course.title }}</h1>
<div class="descr">{{ course.description }}</div>
<div class="start_date">{{ course.start_date }}</div>
<div class="end_date">{{ course.end_date }}</div>
<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_p }}
        <input type="Submit" value="OK">
        <button class="delete"><a href="delete">Удалить</a></button>
    </table>
</form>
{% endblock content %}