{% extends "base.html" %}
{% block title %}
Вход
{% endblock title %}
{% block content %}
<div class="container">
    <h1>Вход</h1>
    <a href="{% url 'index' %}"><input type="button" class="btn btn 5" value="На главную"></a>
    <form action="" method="POST">
        {% csrf_token %}
        <p>Логин</p>
        <input type="text" name="username">
        <p>Пароль</p>
        <input type="password" name="password">
        <input type="Submit" class="btn btn 5" value="Войти">
    </form>
    <span>Ещё не зарегистрированы? <a href="{% url 'register' %}">Регистрация</a></span>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endblock content %}