{% extends "base.html" %}
{% load course_tag %}
{% block title %}
Courses
{% endblock title %}
{% block content %}
<nav class="Navigate">
    <a href="admin/">Админка</a>
    <a href="new">Новый курс</a>
    <a href="/">На стартовую</a>
</nav>
<h1>Каталог курсов</h1>
{% get_courses as bd %}
{% for course in bd %}
    <h3><a href="course/{{ course.pk }}">{{ course.title }}</a></h3>
    <p>{{ course.description }}</p>
    <p>Дата начала курса: {{ course.start_date }}</p>
    <p>Дата окончания курса: {{ course.end_date }}</p>
{% endfor %}
{% endblock content %}