{% extends "base.html" %}
{% load course_tag %}
{% block title %}
edit
{% endblock title%}
{% block content %}
<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="/">Главная</a>
      </div>
      <div class="col-4 text-center">
        <h1 class="title">Биржа курсов</h1>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#">Зарегистрироваться</a>
      </div>
    </div>
  </header>
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <p class="lead my-3">Для увеличения посещаемости - укажите больше информации о курсе.</p>
      <p class="lead mb-0">Не забывайте указывать корректные входные данные</p>
      <!-- <a href="#" class="text-white fw-bold">Дата начала курса</a> Добавить ссылку для перехода на курс -->
    </div>
  </div>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary" href="../../admin">Админка</a>
      <a class="p-2 link-secondary" href="new">Новый курс</a>
    </nav>
  </div>
</div>
<main class="container">
  <div class="row">
    <div class="col-md-8">
      <article class="blog-post">
            <h1>{{ course.title }}</h1>
            <div class="descr">{{ course.description }}</div>
            <div class="start_date">{{ course.start_date }}</div>
            <div class="end_date">{{ course.end_date }}</div>
            <form method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <input type="Submit" class="btn btn" value="ok">
             </form>
      </article>
    </div>
 <div class="col-md-4">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">Биржа курсов</h4>
        <p class="mb-0"><em>Вымешленная биржа курсов, сборник функционирующих курсов </em></p>
      </div>
      <div class="p-4">
        <h4 class="font-italic">Социальные сети</h4>
        <ol class="list-unstyled">
          <li><a href="http://github.com/esheloncr">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </div>
  </div>
</main>
{% endblock content %}